<meta charset="UTF-8">
<script>

    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    function sorteia(n){
        return Math.round(Math.random() * n);
    }

    var numeroPensado = sorteia(10);
    console.log(numeroPensado)
    var chute = parseInt(prompt("Já pensei. Qual você acha que é?"));
    

    if(chute == numeroPensado) {
        mostra("Uau! Você acertou, pois eu pensei no " + numeroPensado);
    } else if(chute > numeroPensado){
        mostra("Você chutou um número maior do que o pensado");
    }else{
        mostra("Você chutou um número menor do que o pensado");
    }


</script>



