<meta charset="UTF-8">
<h3>Álcool ou Gasolina</h3>

<script>

var tanque = 40;
var caminhoComGasolina = 480;
var caminhoComAlcool = 300;
var comAlcool = caminhoComAlcool/tanque;
var comGasolina = caminhoComGasolina/tanque;

	document.write("Com Gasolina meu carro fez: "+ comGasolina);
	document.write("<br>");
	document.write("com álcool meu carro fez: "+ comAlcool);

</script>