<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    var contador=21;

    while(contador>0){
        contador=contador-1
        mostra(contador);
    }

    mostra("FIM");






</script>