<meta charset="UTF-8">

<script>

    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var quantidadeCarbono1 = parseInt(prompt("Quantidade de carbono substância 1"));
    var quantidadeCarbono2 = parseInt(prompt("Quantidade de carbono substância 2"));

    

    if(quantidadeCarbono1 == quantidadeCarbono2 ) {

        mostra("Acho que são substâncias parecidas");
    } else {

        mostra("São substâncias bem diferentes");
    }

</script>