
<meta charset = "UTF - 8">

<script>

	function mostra (frase){
	
		document.write(frase);
		pulaLinha ();
	}

	function pulaLinha () {
		
		document.write("<br>");
		document.write("<br>");

	}

	function multiplica (op1, op2) {
		
		var totalMulti = op1 * op2;
		mostra ( "A multiplicação de " + op1 + " * " + op2 + " é: " + totalMulti);
	}

	multiplica (10 , 9);
	
</script>

