<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    var contador=30;
    //var conta=33;
    //var contar = 37

    //while(contador<32){
        //contador=contador+1
        //mostra(contador);
    //}
    //while(conta<36){
        //conta=conta+1
        //mostra(conta);
    //}
    //while(contar<40){
        //contar=contar+1
        //mostra(contar);
    //}
    while(contador<=40){
        if(contador!=33 && contador!=37){
            mostra(contador);

        }
        contador++
    }

//mostra("FIM");






</script>