<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    function subtracao (num1,num2){
        var subtraiNum = num1 - num2;
        mostra("A subtração de"+ num1+" - "+ num2 +"é:"  + subtraiNum);
    }
    subtracao(2,2);
    

</script>
