<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    function multiplica (op1,op2){
        var multiplicacao = op1*op2;
        return multiplicacao;
        
    }
        var resultado = multiplica(10,9);
    mostra("A multiplicação de op1 e op2 é: " + resultado);

</script>