<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
    function retornaMensagemFixa(){
        return "Essa função está retornando uma string";
    }
    mostra(retornaMensagemFixa());


    </script>