<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
    function calculaArea(raio){
        var calculoArea = Math.PI*(raio*raio);
        mostra("Area="+calculoArea);
    }
    calculaArea(2.50);

    





    </script>