<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
    function cadastraCliente(primeiroNome,sobrenome,dataNascimento,email){
        mostra("=============================================")
       mostra("<h1>Cliente cadastrado com sucesso</h1>"+"Nome: "+primeiroNome+"<br>"+"Sobrenome: "+sobrenome+"<br>"+"Data de nascimento: "+dataNascimento+"<br>"+"E-mail: "+email);
       mostra("=================================================")
        
    
    }
    cadastraCliente("Leonardo","Rodrigues","04/01/1995","focusrastreamento@gmail.com");

</script>