<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    function soma (num1,num2){
        var resultado = num1 +num2;
        mostra("A soma de"+ num1 +"+"+ num2+" é: " + resultado);    
    }
        
    soma(2,2);
   

</script>

