<meta charset="UTF-8">

<script>
	

	function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }


    function multiplica (op1, op2) {
    	
    	var totalMulti = op1 * op2;
    	return totalMulti;

    }

    	var total = 10 * 9;
    	mostra ("A multiplicação de op1 X op2 é:   " + total);



</script>