A)

<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var convidados = prompt("Número de convidados");
    var vips = prompt("Número de convidados VIP's");

    var total = parseInt(convidados + vips);

    mostra("O total de convidados é " + total);

</script>
B)
<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var convidados = parseInt(prompt("Número de convidados"));
    var vips = prompt("Número de convidados VIP's");

    var total = convidados + vips;

    mostra("O total de convidados é " + total);

</script>
C)
<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var convidados = prompt(parseInt("Número de convidados"));
    var vips = prompt(parseInt("Número de convidados VIP's"));

    var total = convidados + vips;

    mostra("O total de convidados é " + total);

</script>
D)
<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var convidados = parseInt(prompt("Número de convidados"));
    var vips = parseInt(prompt("Número de convidados VIP's"));

    var total = convidados + vips;

    mostra("O total de convidados é " + total);

</script>