<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
    var valor = parseFloat(prompt("Digite um número com duas casas decimais:"));
    //var soma = valor+1
    mostra("O valor informado somado de 1 é: "+(valor+1));
    
</script>