<meta charset="UTF-8">
<script>
	function pulaLinha(){
		document.write("<br>");
		document.write("<br>");
	}
	var ano = 2016;
	document.write("Flávio tem "+(ano-1977)+" anos");
	pulaLinha();
	document.write("Joaquim tem " + (ano-1996)+" anos");
	pulaLinha();
	ano = 2017;
	document.write("Barney tem " + (ano-1976)+" anos");
</script>