<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
    function calculaImc(peso,altura) {
       
        var imc = peso/(altura*altura);
        return imc;
    }
    var imcLeonardo=calculaImc(116,1.73);
    var imcAmigo=calculaImc(80,1.80);

    mostra (imcLeonardo);
    mostra (imcAmigo);

</script>