<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }
    function sorteia(n){
       return Math.round(Math.random()*n);


    }

    var numeroPensado = sorteia(100) ;
    var chute = parseInt(prompt("Digite seu chute!"));
    var contador = 1;
    if(chute==numeroPensado){
        mostra("Você acertou!");
    }
    
    if(chute>numeroPensado){
        mostra("O número pensado é menor.");

    }
    if(chute<numeroPensado){
        mostra("O número pensado é maior.");
        
    }
    contador+1
    while(contador<=10);{
        alert("Eu tinha pensado no: " +numeroPensado);
    }
        
</script>