<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
    }

    function calculaImc(altura, peso) {

        return peso / ( altura * altura );
    }
     mostra("O meu IMC é " + calculaImc(1.63, 48));
    //var imcCalculado = calculaImc(1.63, 48);
    //mostra("O meu IMC é " + imcCalculado);
</script>