<meta charset="UTF-8">
<script>
var minhaIdade = 27
var idadeAmigo = 22
var idade = minhaIdade-idadeAmigo;
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra() {
        document.write("Nossa diferença de idade é: "+idade);
        pulaLinha();
    }

    mostra();
</script>