<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    var contador=0;

    while(contador<100){
        contador ++
        mostra(contador);
    }

mostra("FIM");






</script>