<meta charset="UTF-8">
<script>

    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var contador = 1;

    while(contador <= 100){
        mostra(contador);
        contador++;
    }

    mostra("FIM")


</script>



