<meta charset="UTF-8">
<script>
	var chegada=1500;
	var anoAtual=2022;
	var media=28;
	var geracoes=(anoAtual-chegada)/media;
	
	function pulaLinha(){
		document.write("<br>");
	}
	function mostra(){
		document.write(geracoes);
	}
	pulaLinha();
	mostra();
</script>