<meta charset="UTF-8">

<h1>Receitas do Yan</h1>

<script>
    var ingredientes = [];

    var quantidade = parseInt(prompt("Quantos ingredientes você vai adicionar?"));

    var contador = 1;

    while( contador <= quantidade) {

        var ingrediente = prompt("Informe o ingrediente " + contador);
        var temNaLista = false;

        for(i = 0; i < ingredientes.length; i++){
            if( ingredientes[i] == ingrediente){
                temNaLista = true;
                break;
            } 
        }

        if(!temNaLista){
                ingredientes.push(ingrediente);
                contador++;
        }
    }
    console.log(ingredientes);
        var achou = false;


        if(ingredientes!=ingrediente){
            for(var posicao=0; posicao < ingredientes.length; posicao++){
                if(ingredientes[posicao]==ingrediente){
                    achou=true
                    break
                }
            }
            if(achou== false){

            ingredientes.push(ingrediente);
            contador++
        
            }
            
        }

        

    
    

    console.log(ingredientes);
</script>