<meta charset="UTF-8">

<input/>
<button>Compare com o meu segredo</button>

<script>
    function sorteia(){
        return Math.round(Math.random() * 10);
    }

    function sorteiaNumeros(quantidade){
        var numeros = [];
        var i = 1;
        while(i <= quantidade){
            var numeroAleatorio = sorteia();
            var achou = false;

            if(numeroAleatorio != 0){
                for(x = 0; x < numeros.length; x++){
                    if(numeros[x] == numeroAleatorio){
                        achou = true;
                        break;
                    }
                }

                if(!achou){
                    numeros.push(numeroAleatorio);
                    i++;
                }
            }
        }
        return numeros;
    }



    var segredos = sorteiaNumeros(3);

    console.log(segredos);

    var input = document.querySelector("input");
    input.focus();

    function verifica() {

       var achou = false;

       for(var posicao = 0; posicao < segredos.length; posicao++) {

              if(input.value == segredos[posicao]) {

                     alert("Você ACERTOU!");
                     achou = true;
                     break;
              } 
       }

       if(achou == false) {

              alert("Você ERROU!");
       }

       input.value = "";
       input.focus();

    }

    var button = document.querySelector("button");

    button.onclick = verifica;

</script>