<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    function sorteia(n) {

        return Math.round(Math.random() * n);
    }   

    var numeroPensado = sorteia(100);

    var chute = parseInt(prompt("Já pensei. Qual você acha que é?"));

    var contador = 1;

    if(chute == numeroPensado) {

        mostra("Uau! Você acertou, pois eu pensei no " + numeroPensado);
    } else {

        while(contador<=10){
            

            alert("Já era, você errou!");
            contador++
        }

    }
    mostra("FIM");
</script>
//B